<a href="https://colab.research.google.com/github/noobProgrammer44/ML-JOURNEY/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SERIES**

In [ ]:
import pandas as pd

In [ ]:
indices=['a','b','c']
data=[10,20,30]
a1=pd.Series(data,indices)

In [ ]:
a1

a    10
b    20
c    30
dtype: int64

In [ ]:
a3=pd.Series({'a':50,'d':70})
a4=a3+a1

In [ ]:
a4

a    60.0
b     NaN
c     NaN
d     NaN
dtype: float64

In [ ]:
a3*a1

a    500.0
b      NaN
c      NaN
d      NaN
dtype: float64

### **DATAFRAME**

In [ ]:
# Can be thought of as a dict-like container for Series objects
import numpy as np
df=pd.DataFrame(np.random.rand(3,5),['A','B','C'],['price','volume','return rate','open price','close price'])

In [ ]:
df

      price    volume  return rate  open price  close price
A  0.154928  0.125378     0.977343    0.212558      0.82651
B  0.474821  0.359540     0.859533    0.860079      0.74303
C  0.810051  0.549925     0.927414    0.522259      0.84769

In [ ]:
df['price']

A    0.154928
B    0.474821
C    0.810051
Name: price, dtype: float64

In [ ]:
type(df['price'])

pandas.core.series.Series

In [ ]:
# Access a group of rows and columns by label(s) or a boolean array.
df.loc['A']

price          0.154928
volume         0.125378
return rate    0.977343
open price     0.212558
close price    0.826510
Name: A, dtype: float64

In [ ]:
# Accessing 2 rows
df.loc[['A','B']]

      price    volume  return rate  open price  close price
A  0.154928  0.125378     0.977343    0.212558      0.82651
B  0.474821  0.359540     0.859533    0.860079      0.74303

In [ ]:
# Accessing a single value
df['volume']['C']

0.5499252803522624

In [ ]:
# Accessing a single value using loc
df.loc['C'].loc['volume']

0.5499252803522624

In [ ]:
out=['LEB','LEB','LEB','FR','FR','FR','USA','USA','USA']
inside=['MORNING','MIDDAY','EVENING','MORNING','MIDDAY','EVENING','MORNING','MIDDAY','EVENING']
indexRows=zip(out,inside)

In [ ]:
indexRows=pd.MultiIndex.from_tuples(indexRows)

In [ ]:
indexRows

In [ ]:
df2=pd.DataFrame(np.random.rand(9,3),indexRows,['price','close','open'])

In [ ]:
df2

                price     close      open
LEB MORNING  0.536276  0.523473  0.997901
    MIDDAY   0.079617  0.421578  0.918784
    EVENING  0.392099  0.999732  0.636269
FR  MORNING  0.452635  0.450239  0.782286
    MIDDAY   0.878425  0.047641  0.690353
    EVENING  0.403399  0.569437  0.658906
USA MORNING  0.331944  0.461493  0.731139
    MIDDAY   0.559110  0.476910  0.271297
    EVENING  0.976708  0.360407  0.309703

In [ ]:
df2.loc['LEB'].loc['EVENING'].loc['close']

0.9997323914425613

## **OPERATIONS ON DATAFRAME**


 **3.1 Boolean or Logical Operations**

In [ ]:
df

      price    volume  return rate  open price  close price
A  0.154928  0.125378     0.977343    0.212558      0.82651
B  0.474821  0.359540     0.859533    0.860079      0.74303
C  0.810051  0.549925     0.927414    0.522259      0.84769

In [ ]:
df>0.5

   price  volume  return rate  open price  close price
A  False   False         True       False         True
B  False   False         True        True         True
C   True    True         True        True         True

In [ ]:
df[df>0.5]

      price    volume  return rate  open price  close price
A       NaN       NaN     0.977343         NaN      0.82651
B       NaN       NaN     0.859533    0.860079      0.74303
C  0.810051  0.549925     0.927414    0.522259      0.84769

In [ ]:
(df>0.3)&(df<0.9)

   price  volume  return rate  open price  close price
A  False   False        False       False         True
B   True    True         True        True         True
C   True    True        False        True         True

**AGGREGATE FUNCTIONS**

In [ ]:
dictionary={'COUNTRY':['LEB','LEB','FR','FR','UY','UY','NIG','NIG'],'StockPrice':[31,321,13,12,59,130,320,90]}
df=pd.DataFrame(dictionary)
df

  COUNTRY  StockPrice
0     LEB          31
1     LEB         321
2      FR          13
3      FR          12
4      UY          59
5      UY         130
6     NIG         320
7     NIG          90

In [ ]:
df.describe()

       StockPrice
count    8.000000
mean   122.000000
std    128.798846
min     12.000000
25%     26.500000
50%     74.500000
75%    177.500000
max    321.000000

In [ ]:
df.describe().loc['min'].loc['StockPrice']

12.0

In [ ]:
df.groupby('COUNTRY').describe().T

COUNTRY                  FR         LEB        NIG          UY
StockPrice count   2.000000    2.000000    2.00000    2.000000
           mean   12.500000  176.000000  205.00000   94.500000
           std     0.707107  205.060967  162.63456   50.204581
           min    12.000000   31.000000   90.00000   59.000000
           25%    12.250000  103.500000  147.50000   76.750000
           50%    12.500000  176.000000  205.00000   94.500000
           75%    12.750000  248.500000  262.50000  112.250000
           max    13.000000  321.000000  320.00000  130.000000

# CONCATENATION

In [ ]:
df1 =pd.DataFrame({
    "A": [1,2,3,4],
    "B": [10,20,30,40],
    "C": [100,200,300,400]
})

In [ ]:
df2 =pd.DataFrame({
    "A": [5,6,7,8],
    "B": [50,60,70,80],
    "C": [500,600,700,800]
})

In [ ]:
df3 =pd.DataFrame({
    "A": [9,10,11,12],
    "B": [90,100,110,120],
    "C": [900,1000,1100,1200],
    'D':[100,200,300,400]
})

In [ ]:
df=pd.concat([df1,df2,df3])

In [ ]:
df

    A    B     C      D
0   1   10   100    NaN
1   2   20   200    NaN
2   3   30   300    NaN
3   4   40   400    NaN
0   5   50   500    NaN
1   6   60   600    NaN
2   7   70   700    NaN
3   8   80   800    NaN
0   9   90   900  100.0
1  10  100  1000  200.0
2  11  110  1100  300.0
3  12  120  1200  400.0

MERGING

In [ ]:
df_try =pd.DataFrame({
    "A": [1,2,3,4],
    "B": [10,20,30,40],
    "C": [100,200,300,400]
})

df2_try =pd.DataFrame({
    "C": [100,200,300,400],
    "D": [50,60,70,80],
    "E": [500,600,700,800]
})

In [ ]:
pd.merge(df_try,df2_try)

   A   B    C   D    E
0  1  10  100  50  500
1  2  20  200  60  600
2  3  30  300  70  700
3  4  40  400  80  800

# **FUNCTIONS**

In [ ]:
DF=pd.merge(df_try,df2_try)

In [ ]:
def multiplybyThree(x):
  return x*3

In [ ]:
multiplybyThree(DF)

    A    B     C    D     E
0   3   30   300  150  1500
1   6   60   600  180  1800
2   9   90   900  210  2100
3  12  120  1200  240  2400

In [ ]:
multiplybyThree(DF['A'])

0     3
1     6
2     9
3    12
Name: A, dtype: int64

In [ ]:
DF.apply(multiplybyThree)

    A    B     C    D     E
0   3   30   300  150  1500
1   6   60   600  180  1800
2   9   90   900  210  2100
3  12  120  1200  240  2400

In [ ]:
DF['A'].apply(lambda x:x*2)

0    2
1    4
2    6
3    8
Name: A, dtype: int64

In [ ]:
DF.apply(lambda x:x*2)

   A   B    C    D     E
0  2  20  200  100  1000
1  4  40  400  120  1200
2  6  60  600  140  1400
3  8  80  800  160  1600